body {
	padding: 5px 10px 5px 10px;
	line-height: 50px;

	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#loading {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#label {
	display: inline-block;
	vertical-align: middle;
}

#warningLabel {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-top: 7.5%;
	font-size: 15pt;
	font-weight: bold;
}

#rightContainer {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 200px;

	padding: 5px 10px 5px 10px;

	font-size: 12pt;
	text-align: right;
}

#close {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	padding-right: 5px;
	vertical-align: middle;
}

#buttonContainer {
	position: absolute;
	top: 50%;
	right: 10;
	transform: translateY(-50%);
}