body {
	padding: 5px 10px 5px 10px;
	line-height: 40px;

	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	font-size: 14pt;
	color: black;
	border-top: 1px #d3d3d3;
}

#loading {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#label {
	display: inline-block;
	vertical-align: middle;
}

#rightContainer {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 200px;

	padding: 5px 10px 5px 10px;
	line-height: 40px;

	font-size: 12pt;
	text-align: right;
}

#close {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-left: 10px;
	padding-right: 5px;
}

a {
	display: inline-block;
	vertical-align: middle;
}

